@media screen and (max-width: 576px){
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .banner img{
        width: 100%;
    }
    .team-img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        justify-items: center;
        align-items: center;
    }
    .team-img-container img{
     width: 100%;
     max-width: 400px;
    }
    .our-features{
        margin-left: 20px;
    }
}